html, body {
  height: 85vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
}

#balance-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#card-balance, #card-number {
  display: flex;
  justify-content: center;
  font-family: 'Lora', sans-serif;
}

#card-balance {
  font-weight: bold;
  font-size: 70pt;
  color: #e7f2f2;
}

#card-number {
  color: #727d7d;
}
