html, body {
  height: 85vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
}

#card-number-form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#card-number-input {
  font-size: 70px;
  color: lightgray;
  background-color: #2f2f2f;
  text-align: center;
  font-family: 'Lora', sans-serif;
  width: 14ch;
  border: none;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

#card-number-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 70px #2f2f2f inset;
  -webkit-text-fill-color: lightgray !important;
}

#card-number-input:focus {
  outline: none;
}

#btn-get-balance {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 65%;
  border: 1px solid gray;
  border-radius: 15px;
  box-shadow: none;
  color: gray;
  background-color: #2f2f2f;
  margin-top: 27px;
  font-size: 25px;
  font-family: 'Lora', sans-serif;
}

#btn-get-balance:focus {
  outline: none;
}

#btn-get-balance:hover {
  color: lightgray;
  background-color: #373737;
  border-color: lightgray;
  cursor: pointer;
}

#balance-wrapper {
  display: none;
  grid-template-rows: repeat(2, 1fr);
}

#card-balance, #card-number {
  display: flex;
  justify-content: center;

  font-family: 'Lora', sans-serif;
}

#card-balance {
  font-weight: bold;
  font-size: 70pt;
  color: lightgray;
}

#card-number {
  color: gray;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: lightgray;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
