<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FoodCard Balance</title>
  <link href="{{ url_for('static', filename='credit-card.png') }}"
        rel="shortcut icon" type="image/x-icon">
  <link href="{{ url_for('static', filename='style.css') }}"
        rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass+Mono"
        rel="stylesheet">
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
